ul li{
text-align: center;
display: inline;
padding-left: 30px;
padding: 30px;

}
body
{
background: #CACACB; 
font-size:16px;
font-family:"Times New Roman";
}
img{
float:right

}
a:link    {color:#000000; background-color:transparent}
a:visited {color:#6373EB; background-color:transparent}
a:hover   {color:#ff0000; background-color:transparent}
a:active  {color:#ff0000; background-color:transparent}

.topnavSpace{
padding-right: 175px
color: #222;
font-family: monospace;
line-height: 1.1em;
padding: 1em;
border: 1px solid #ddd;
background-color: #f9f9f9;
}
pre {
border: 1px solid #bcd;
overflow: auto;
}
pre, code, tt {
background-color: #ebf1f5;
color: #222;
font-family: monospace;
}
pre, .mw-code {
line-height: 1.1em;
}
pre, .mw-code {
padding: 1em;
border: 1px solid #ddd;
color: black;
background-color: #f9f9f9;
}
pre, code, tt, kbd, samp, .mw-code {
font-family: monospace,Courier;
}
pre, xmp, plaintext, listing {
display: block;
font-family: monospace;
white-space: pre;
margin: 1em 0px;
}